* {
    margin: auto;
    max-width: 1600px;
}

/* body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
.heading1 {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-top: 215px;
    margin-right: 230px;
    margin-bottom: 20px;
}

.pera1 {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-right: 230px;
    margin-bottom: 35px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
}

#button {
    text-align: right;
    margin-right: 230px;
    padding-bottom: 170px;
}

.text{
    height: 800px;
    background-color: rgb(211, 211, 211);
    background-image: url('./images/banner/banner2.png');
    background-repeat: no-repeat;
}