* {
    margin: auto;
    max-width: 1600px;
}

/* body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* header */
.heading1 {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-top: 215px;
    margin-right: 230px;
    margin-bottom: 20px;
}

.pera1 {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-right: 230px;
    margin-bottom: 35px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 5px;
    background: #F15B22;
    border: 0;
}

#button {
    text-align: right;
    margin-right: 230px;
    padding-bottom: 170px;
}

.text {
    height: 800px;
    /* width: 100%; universal tag er vitor max width na dile eta dite hoto ekhane*/
    background-color: rgb(211, 211, 211);
    background-image: url('./images/banner/banner2.png');
    background-repeat: no-repeat;
}

/* section-one */
.section-one {
    display: flex;
    gap: 85px;
    margin: 130px 322px 130px 206px;
}

/* .section-one-image {
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
} */

.section-one-text {
    width: 50%;
}

.section-one-heading {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.section-one-pera {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 26px;
}

section li {
    list-style: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

/* section-two */

.section-two {
    margin: 130px 230px;

}

.section-two-heading {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-two-container {
    display: flex;
    gap: 85px;
}

.skills-one-image {
    margin-bottom: 20px;
    align-items: center;
}

.skills-one-heading {
    margin-bottom: 10px;
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.skills-one-pera {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

/* section-three */

.section-three {
    margin: 130px 230px;
    background-image: url('./images/gradient2.png'), url('./images/watch.png');
    height: 300px;
    border-radius: 8px;
}

.section-three-heading {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding: 60px 600px 0px 64px;
}

.section-three-button {
    margin: 24px 0px 60px 65px;
    padding: 20px 40px;
    border: 0;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}